<title>Kurssit</title>
<h1>Tervetuloa OppiLinkin kurssit sivulle!</h1>
<p>
    Tällä sivulla näet omat kurssisi ja sen kuinka monta tehtäväpakettia olet kurssista suorittanut. Voit myös hakea kursseja kurssin tai vastuuopettajan nimellä.
    <p>
    <p>
    <p>
    <p>
    Omat kurssit:
    <p>
    <p>
    C-ohjelmoinnin perusteet    suoritettu 0/0
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
    <p>
    <p>
    <p>
    Johdatus 3D mallinnukseen   suoritettu 0/15
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
        <p>
            <p>
                <p>
    Lineaarialgebran alkeet     suoritettu 0/10
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
        <p>
            <p>
                <p>
    Sukankutomisen jatkokurssi  suoritettu 0/12 
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>   

