<title>Kurssit</title>
<h1>Tervetuloa OppiLinkin kurssit sivulle!</h1>
<p>
    Tällä sivulla näet omat kurssisi ja sen kuinka monta opiskelijaa kurssillasi on. Voit myös luoda, muokata tai poistaa kursseja.
    <p>
    <p>
    <p>
    <p>
    Omat kurssit:
    <p>
    <p>
    Kuinka valmistua ajoissa 101    150 opiskelijaa
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
    <p>
    <p>
    <p>
    Cooking for College: Quick and Healthy Meals on a Budget    203 opiskelijaa
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
        <p>
            <p>
                <p>
    Puutarhanhoito 2: omien yrttien ja vihannesten kasvattaminen    70 opiskelijaa
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>
    <p>
        <p>
            <p>
                <p>
    Sukankutomisen jatkokurssi  30 opiskelijaa 
    <p>
        <button onclick="window.location.href='/course'">siirry kurssialueelle</button>   