<title>Kurssit</title>
<h1>Tervetuloa OppiLinkin kurssit sivulle!</h1>
<p>
    Hei {{firstname}} {{lastname}}! Tällä sivulla näet omat kurssisi ja voit myös luoda, muokata tai poistaa kursseja.
    <p>
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <a href="/logout">Kirjaudu ulos</a>
    <p>
    Kurssien määrä: {{ count }}
    <hr>
    <p>
    Omat kurssit:
    <p>
    {% for course in courses %}
    {Kurssin nimi: { course.course_name }}
    <hr>
    {% endfor %}
    <p>
        <a href="/new_course">Luo uusi kurssi</a>   
