<title>Etusivu</title>
<h1>Tervetuloa käyttämään OppiLink verkkokurssi sovellusta!</h1>
<p>
OppiLink on opetussovellus, jonka kautta voit osallistua verkkokurssille tai järjestää omia verkkokursseja.
<p>
    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <form action="/login" method="POST">
    <p>Tunnus:<br>
    <input type="text" name="username"></p>
    <p>Salasana:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Kirjaudu">
    </form>
    {% endif %}
