<form action="/signup_done" method="POST">
<p>
    Tervetuloa OppiLinkin käyttäjäksi!
    <p>
    Rekisteröidy käyttäjäksi täyttämällä seuraavat tiedot.
    <p>
    <p>
    Olen:
    <p>
        <input type="radio" name="status" value="1"> opiskelija
        <input type="radio" name="status" value="2"> opettaja
    <p>
    <p>
    Etunimi: <input type="text" name="firstname">
    <p>
    Sukunimi: <input type="text" name="lastname">
    <p>
    Käyttäjänimi: <input type="text" name="username">
    <p>
    <p>
    <p>
    <p>
    Anna seuraavaksi salasana, joka sisältää vähintään 8 merkkiä (isoja tai pieniä kirjaimia sekä numeroita tai erikoismerkkejä)
    <p>
    <p>
    <p>
    Salasana: <input type="password" name="password1" size="20">
    <p>
    Salasana uudestaan: <input type="password" name="password2" size="20">
    <p>
        <button type="submit">Rekisteröidy</button>
    </form>